# This is the yaml configuration file for dnsproxy with minimal working
# configuration, all the options available can be seen with ./dnsproxy --help.
# To use it, run ./dnsproxy --config-path=/path-to-yaml-file. when other
# command-line options are specified values from the config file will be
# overrided.
--- 
bootstrap: 
  - "8.8.8.8:53"
listen-addrs: 
  - "0.0.0.0"
listen-ports: 
  - 53
max-go-routines: 0
ratelimit: 0
udp-buf-size: 0
upstream: 
  - "1.1.1.1:53"
