Description=DNS Proxy AdguadTeam with DoH Client authentication
#Wants=network-online.target nss-lookup.target
#Before=nss-lookup.target

[Service]
ExecStart=/usr/bin/dnsproxy 
User=root
Group=root

#Environment=RUST_LOG="info"

## Scheduling
Nice=-20

# Credentials
## A UNIX user and group pair is allocated dynamically when the unit is started.
DynamicUser=yes
SystemCallErrorNumber=EPERM

[Install]
WantedBy=defaul.target
