name: golangci-lint
on:
  push:

jobs:
  golangci:
    runs-on:
      - ubuntu-latest
      - macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.3.0
        with:
        # This field is required.  Dont set the patch version to always use
        # the latest patch version.
          version: v1.32
#  notify:
#    needs:
#      - golangci
#    # Secrets are not passed to workflows that are triggered by a pull request
#    # from a fork.
#    #
#    # Use always() to signal to the runner that this job must run even if the
#    # previous ones failed.
#    if:
#      ${{ always() &&
#        (
#          github.event_name == 'push' ||
#          github.event.pull_request.head.repo.full_name == github.repository
#        )
#      }}
#    runs-on: ubuntu-latest
#    steps:
#      - name: Conclusion
#        uses: technote-space/workflow-conclusion-action@v1
#      - name: Send Slack notif
#        uses: 8398a7/action-slack@v3
#        with:
#          status: ${{ env.WORKFLOW_CONCLUSION }}
#          fields: repo, message, commit, author, job
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
